.side-nav {
    width: 30%; 
    flex-shrink: 0;
    text-align: right;
    padding-right: 30px;
}
.inner {
    display: flex; 
    flex-direction: row; 
    position: relative; 
    height: 100%;
}
.side-nav ul {
    list-style-type:none;
    flex-shrink: 1;
}

.main-content {
    height: 100%; 
    overflow-y: auto;
    flex-shrink: 1;
    display: flex;
    position: relative;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.go-to-top-button {
    margin-left: 10px;
    color: #AAAAAA;
    cursor: pointer;
}
.go-to-top-button:hover {
    color: #000000;
}

blockquote.important {
    border-left: 5px solid #E54B4B;
}
blockquote.info {
    border-left: 5px solid #2DC7FF;
}